body{
    background-color: black;
	color: white;
}

h1 {
    text-align: center;
    color: white;
    font-size:50px;
    font-family:”Comic Sans MS”,cursive,sans-serif;
	padding: 0px;
	margin: 5px;
}

.sidebar {
  display: table;
  background-color: black;
  text-align: center;
  font-size:20px;
  color: white;
  float: left;
  width: 15%;
  border: 1px solid white;
  height: 100vh;
}

.sidebar ul{
  list-style-type: none;
}

.header {
  background-color: black;
  font-size: 35px;
  color: white;
}

.content {
  background-color: black;
  text-align: center;
  font-size: 20px;
  color: white;
  float:left;
  width: 69%;
  border: 1px solid white;
  height: 100vh;
}

.console {
  background-color: black;
  color: white;
}

.num {
    Background-color: black;
    Font-size:3px;
    color:black;
	display: none;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.filler {
	vertical-align: middle;
	text-align: center;
}